@font-face {
    font-family: "FangZhengSuXinShiLiuKaiJianTi-1";
    src: url("FangZhengSuXinShiLiuKaiJianTi-1.eot"); /* IE9 */
    src: url("FangZhengSuXinShiLiuKaiJianTi-1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("FangZhengSuXinShiLiuKaiJianTi-1.woff") format("woff"), /* chrome、firefox */
    url("FangZhengSuXinShiLiuKaiJianTi-1.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("FangZhengSuXinShiLiuKaiJianTi-1.svg#FangZhengSuXinShiLiuKaiJianTi-1") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


