body {
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

.flex-1 {
  flex: 1;
}
.mobile-main-content {
  flex: 1;
  /* background-image: url(/assets/f1.jpg);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat; */
}

.mobile-content-text {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  background: #ffffff75;
}

.title {
  color: black;
  margin-top: 100px;
}

.subtitle {
  color: #2d2d2d;
}

.footer {
  background: rgb(1, 34, 42);
  color: #eee;
  font-size: small;
  padding: 1rem 1.5rem 1rem;
}

.flex {
  display: flex;
  width: 100%;
}

/** override bulma style **/
.navbar-link,
.navbar-item {
  font-weight: 600;
  color: #2c2c2c;
  font-size: 14px;
}

.navbar-item:hover {
  text-decoration: underline;
}

.navbar-link:not(.is-arrowless)::after,
.select:not(.is-multiple):not(.is-loading)::after {
  border-width: 1px;
  width: 6px;
  height: 6px;
  border-color: #2c2c2c;
}

.project {
  flex: 1;
}

.image-display {
  background-image: url(thinking.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.avatar {
  width: 120px;
}
