extends _layout.pug

block content
  section.hero
    .hero-body
      p.title
        | Riguz Lee
      p.subtitle.has-text-grey-darker
        | Full stack developer
      img.image.avatar(src='/assets/p.jpeg')
      p.has-text-grey.mb-1
        | Programming is interesting, and also challenging. It's a lifetime goal to be a really good programmer, and I believe it's more and more close...
      p.has-text-grey.mb-1
        | To contact me, please mail to dr#riguz.com
      hr
      h1.subtitle.has-text-grey-dark About this site
      p.has-text-grey
        | This site is purely a static site, templated by Pug. The source code could be found <a href="https://github.com/drriguz/riguz.com">here</a>