extends _layout.pug

block content
  section.hero
    .hero-body
      p.title
        | Riguz Lee
      p.subtitle.has-text-grey-darker
        | Software Developer
      p.has-text-grey.mb-1
        | I am a software engineer based in Wuhan, China. I'm interested in distributed systems, mobile apps and other interesting things. In the past few years I was mainly working on micro-services based systems, cloud, agile and so on.
      p.has-text-grey
        | I had been working at Thoughtworks for more than 4 years, and after that I joined Kingsoft(the company who created WPS) as a developer in BigData department at 2021, start to learn things related to big data, which is actually new area to me.
      p.has-text-grey
        | Programming is interesting, and also challenging. It's a lifetime goal to be a really good programmer, and I believe it's more and more close...
      hr
      h1.subtitle.has-text-grey-dark About this site
      p.has-text-grey
        | This site is purely a static site, templated by Pug. The source code could be found <a href="https://github.com/drriguz/riguz.com">here</a>