extends _layout.pug

block content
  section.hero.flex-1
    .hero-body.image-display
      p.title
        | 一个日牿子
      p.subtitle
        | 知人者智，自知者明。勝人者有力，自勝者強。知足者富。強行者有志。不失其所者久。死而不亡者壽。
      p 
        | ——语出《道德经》第三十三章