extends _layout.pug

block content
  section.hero
    .hero-body
      p.title
        | ALWAYS BE PREPARED
      .wave-wrapper
        canvas#waves
  script(type='text/javascript', src="assets/sine-waves.min.js")
  script(type='text/javascript', src='assets/init-wave.js')