extends _layout.pug

block content
  section.hero
    .hero-body
      p.title
        | Hi, welcome to Riguz Lee's personal website
      p.subtitle.has-text-grey-darker
        | Hope you find something useful!